<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

{%extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
<h1> About Page </h1>
<p class="lead"> This is about Page.</p>
<h1>Santosh Gawande</h1>
<h1>Software Developer</h1>
</div>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="santosh-gawande-44275a138">
 <a class="LI-simple-link" href='https://in.linkedin.com/in/santosh-gawande-44275a138?trk=profile-badge'>Santosh Gawande</a>
</div>
{%endblock %}

